<link
    href="https://cdn.jsdelivr.net/npm/remixicon@4.2.0/fonts/remixicon.css"
    rel="stylesheet"
/>
<section id="about" class="section-padding">
    <div class="container">
        <div class="row">
            <div class="col-12 text-center">
                <div class="section-title">
                    <h1 class="display-4 fw-semibold" >About us</h1>
                    <div class="line"></div>
                    <p>At AJAS Services, we specialize in providing consultancy services for Quality Management Systems (QMS), Food Safety Management Systems (FSMS), and designing client-specific standards. Our team consists of experienced professionals with a deep understanding of quality management principles, food safety regulations, and industry-specific standards.</p>
                </div>
            </div>
        </div>
        <div class="row justify-content-around align-itmes-center">
            <div class="col-lg-6">
                <img src="../../../assets/about.jpg" alt="About">
            </div>
            <div class="col-lg-5">
                <div class="d-flex">
                    <div class="iconbox me-4">
                        <i class="ri-line-chart-line"></i>
                    </div>
                    <div>
                        <h5 class="mt-2 mb-4">Our Mission</h5>
                        <p>We are dedicated to providing our customers with tailored solutions that enhance their organization's operations while ensuring compliance with relevant standards. Our goal is to help our clients meet statutory and regulatory requirements, improve efficiency, and achieve excellence in quality and food safety.</p>
                    </div>
                </div>
                <div class="d-flex">
                    <div class="iconbox me-4">
                        <i class="ri-account-pin-box-line"></i>
                    </div>
                    <div>
                        <h5 class="mt-2 mb-4">Meet the man behind</h5>
                        <p>Anil Zapate - CEO</p>
                        <p>Anil is an esteemed industry professional with over 18 years of experience, specializing in auditing, consulting, and achieving certifications such as HACCP, BRC, and ISO standards for a diverse range of products. His expertise extends to collaborating with major companies, implementing customer-specific requirements, and developing comprehensive food safety management systems.</p>
                    </div>
                </div>
                <div class="d-flex">
                    <div class="iconbox me-4">
                        <i class="ri-megaphone-line"></i>
                    </div>
                    <div>
                        <h5 class="mt-2 mb-4">Why Choose Us?</h5>
                        <p>Our team boasts extensive expertise in QMS, FSMS, and standard design, offering tailored solutions to meet client needs. We prioritize compliance by staying abreast of statutory requirements and collaborate closely with clients for customized standards aligned with their objectives.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row justify-content-around">
            <div class="line col-12 text-center">
                <p class="mt-3 mb-4">Ready to take your organization's quality and food safety management to the next level? Contact us today to learn more about how we can help you achieve your goals.</p>
                <div>
                    <a href="/contactus" class="btn btn-brand me-2">Contact us</a>
                </div>
            </div>
        </div>
    </div>
</section>