<link
    href="https://cdn.jsdelivr.net/npm/remixicon@4.2.0/fonts/remixicon.css"
    rel="stylesheet"
/>
<section id="services" class="section-padding">
    <div class="container">
        <div class="row">
            <div class="col-12 text-center">
                <div class="section-title">
                    <h1 class ="display-4 fw-semibold">Services</h1>
                    <div class="line"></div>
                    <p>Consultancy services for all the Quality Management Systems, Food Safety Management Systems, and designing client specific standards.</p>
                    <p>We believe Quality Management System is a key management practice to bring together on-going involvement across organization boundaries, benefits realization, organization change, planning, coordination and integration, but requires a focused Program Manager.</p>
                </div>
            </div>
        </div>
        <div class="row g-4 text-center justify-content-around">
            <div class="col-lg-4 col-sm-6">
                <div class="service theme-shadow p-lg-5 p-4">
                    <div class="iconbox">
                        <i class="ri-stack-fill"></i>
                    </div>
                    <h5 class="mt-4 mb-3">Food industries</h5>
                    <ul class="home-content-services">
                        <li>Fish and Fish products Processing</li>
                        <li>Meat Processing</li>
                        <li>Snacks Industries</li>
                        <li>Fresh Frozen Fruit and Vegetables</li>
                        <li>Fruit pulp Industries</li>
                        <li>Flour Industries</li>
                        <li>Spice Industries</li>
                        <li>Sugar Industries</li>
                        <li>Packaged Drinking Water</li>
                    </ul> 
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="service theme-shadow p-lg-5 p-4">
                    <div class="iconbox">
                        <i class="ri-stack-fill"></i>
                    </div>
                    <h5 class="mt-4 mb-3">Other industries</h5>
                    <ul class="home-content-services">
                        <li>Distilleries</li>
                        <li>Starch Industries</li>
                        <li>Retail Sector</li>
                        <li>Hotel, Resorts & Restaurants</li>
                        <li>Agriculture Sector</li>
                        <li>Laboratory Support</li>
                        <li>Warehousing, Logistics and Supply Chain</li>
                    </ul> 
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="service theme-shadow p-lg-5 p-4">
                    <div class="iconbox">
                        <i class="ri-stack-fill"></i>
                    </div>
                    <h5 class="mt-4 mb-3">Certifications</h5>
                    <ul class="home-content-services">
                        <li>HACCP certification</li>
                        <li>BRC FOOD certification</li>
                        <li>FSSC certification</li>
                        <li>Global Gap certification</li>
                        <li>BRC Packaging certification</li>
                    </ul> 
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="service theme-shadow p-lg-5 p-4">
                    <div class="iconbox">
                        <i class="ri-stack-fill"></i>
                    </div>
                    <h5 class="mt-4 mb-3">ISO Certifications</h5>
                    <ul class="home-content-services">
                        <li>ISO 22000 certification</li>
                        <li>ISO 9001 certification</li>
                        <li>ISO 17025</li>
                    </ul> 
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="service theme-shadow p-lg-5 p-4">
                    <div class="iconbox">
                        <i class="ri-stack-fill"></i>
                    </div>
                    <h5 class="mt-4 mb-3">Auditing, Solutions & Services</h5>
                    <ul class="home-content-services">
                        <li>Internal Auditing</li>
                        <li>IT solutions</li>
                        <li>Validation verification services</li>
                        <li>Cleaning and sanitation solution</li>
                    </ul> 
                </div>
            </div>
        </div>
    </div>
</section>
<section id="counter" class="section-padding">
    <div class="container text-center">
        <div class="row g-4">
            <div class="col-lg-3 col-sm-6">
                <h1 class="text-white display-4">150+</h1>
                <h6 class="text-uppercase text-white mb-0 mt-3">Total clients</h6>
            </div>
            <div class="col-lg-3 col-sm-6">
                <h1 class="text-white display-4">200+</h1>
                <h6 class="text-uppercase text-white mb-0 mt-3">Industries explored</h6>
            </div>
            <div class="col-lg-3 col-sm-6">
                <h1 class="text-white display-4">10+</h1>
                <h6 class="text-uppercase text-white mb-0 mt-3">Certification expertise</h6>
            </div>
            <div class="col-lg-3 col-sm-6">
                <h1 class="text-white display-4">50+</h1>
                <h6 class="text-uppercase text-white mb-0 mt-3">Courses Available</h6>
            </div>
        </div>
    </div>
</section>