<app-header></app-header>
<section id="home" class="min-vh-100 d-flex align-items-center text-center">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h1 class="text-white fw-semibold display-1">Welcome to AJAS Services</h1>
                <h5 class="text-white mt-3 mb-4">We provide consultancy services for all the Quality Management Systems, Food Safety Management Systems, and Designing client specific standards.</h5>
                <div>
                    <a href="" class="btn btn-brand me-2">Explore</a>
                    <a href="/courses" class="btn btn-light ms-2">Live Courses</a>
                </div>
            </div>
        </div>
    </div>
</section>
<app-footer></app-footer>