<link
    href="https://cdn.jsdelivr.net/npm/remixicon@4.2.0/fonts/remixicon.css"
    rel="stylesheet"
/>
<footer class="bg-dark">
    <div class="footer-top">
        <div class="container">
            <div class="row gy-5">
                <div class="col-lg-3 col-sm-6">
                    <a href="#" class="text-white">
                        <img class="d-inline-block" src="./assets/logo.png" width="30" height="30" alt="Logo">
                        AJAS Services
                    </a>
                    <div class="line"></div>
                        <p>Contact us via: </p>
                        <div class="social-icons">
                            <a href=""><i class="ri-google-fill"></i></a>
                            <a href=""><i class="ri-whatsapp-line"></i></a>
                            <a href="contactus"><i class="ri-wechat-line"></i></a>
                            <a href=""><i class="ri-linkedin-fill"></i></a>
                        </div>
                    
                </div>
                <div class="col-lg-3 col-sm-6">
                    <h5 class="mb-0 text-white">SERVICES</h5>
                    <div class="line"></div>
                        <li><a href="">Food Industry</a></li>
                        <li><a href="">Certifications</a></li>
                        <li><a href="">Auditing</a></li>
                        <li><a href="">Solutions & Services</a></li>
                    
                </div>
                <div class="col-lg-3 col-sm-6">
                    <h5 class="mb-0 text-white">About</h5>
                    <div class="line"></div>
                        <li><a href="">Company</a></li>
                        <li><a href="">Courses</a></li>
                        <li><a href="">Career</a></li>
                    
                </div>
                <div class="col-lg-3 col-sm-6">
                    <h5 class="mb-0 text-white">Contact</h5>
                   <div class="line"></div>
                        <li>Contact Person: <a href="mailto:anilzapate@ajasservices.com">Anil Zapate</a> </li>
                        <li>Mobile No: 9987464642</li>
                    
                </div>
            </div>
        </div>
    </div>
    <div class="footer-bottom">
        <div class="container">
            <div class="row g-4 justify-content-between">
                <div class="col-auto">
                    <p class="mb-0">Copyright © 2014 AJAS Services. All Rights Reserved.</p>
                </div>
                <div class="col-auto">
                    <p class="mb-2">Developed by: Developers</p>
                </div>
            </div>
        </div>
    </div>
</footer>